{:paths ["src/clojure"]
 :resource-paths ["data"]
 :deps {org.clojure/math.combinatorics {:mvn/version "0.1.6"}
        org.clojure/core.async {:mvn/version "1.3.610"}
        org.clojure/math.numeric-tower {:mvn/version "0.0.4"}}}
